// Color system

$grey: #ededed !default;
$dark-grey: #4a4a4a !default;
$orange: #ea7f28 !default;
$dark-orange: #d37324 !default;
$white: #fff !default;

//font-sizes
$font-size-18: 18px;
$font-size-14: 14px;
$font-size-12: 12px;
$font-size-32: 32px;

$font-weigt-bold: bold;
$font-weigt-bolder: bolder;

//
$text-align-center: center;
$text-align-left: left;
$text-align-right: right;

//font-family
$font-family-Arial: Arial;
