.saveButton {
  width: auto  !important;
  float: right;
}

.main-section-height {
  width: 800px;
}

.car-details-section {
  width: 500px;
  margin-left: 125px;
}

.save-section {
  width: 300px;
  padding: 40px 24px 24px 24px;
}
