.saveButton {
  width: auto  !important;
  float: right;
  margin-top: 20px
}

.main-section-height {
  width: 80%;
  min-height: calc(100vh - 163px)
}

.car-details-section {
  width: 80%;
  margin-left: 125px;
}

.car-details-text-section {
  margin: 24px 0px 12px 0px;
}

.save-section {
  padding: 24px;
}
