.margin-car-tile {
  margin: 12px 12px 0px 8px;
}

.carTileSection {
  text-align: left;
  // font-size: $font-size-14;
  margin-right: 16px;
  padding: 0px 24px 12px 12px;
  margin-bottom: 12px;
}

.topCarTileSection {
  text-align: left;
  margin-right: 16px;
  margin-bottom: 12px;
  height: 104px;
}
.car-tile-section {
  margin: -8px 0px 0px 0px;
}

.car-tile-details-section {
  margin-bottom: 10px;
}
.wholeTileSection {
  margin-bottom: 12px;
  height: 104px;
}
