// .filterWidth {
//   width: 93%;
// }

.filterSection {
  // display: inline-block;
  border: "1px solid black";
  width: 35% !important;
  margin-top: "auto";
  margin-bottom: "auto";
  text-align: "left";
  font-family: "Arial";
  font-size: "14px";
  margin-right: 16px;
  border: 2px #ededed solid;
  padding: 0px 24px 12px 12px;
  float: left;
}

.filterButton {
  background-color: #ea7f28;
  font-family: "Arial";
  width: 128px;
  height: 32px;
  text-align: center;
  color: white;
  font-size: 16px;
  border: none;
  margin: 24px 0px 8px 24px;
  border-radius: 5px;
  float: right;
}

.filterDropdown {
  margin: 12px 0 8px 12px;
}
.filterlabel {
  margin: 24px 0 8px 12px;
}

.car-title {
  font-size: 18px;
  font-weight: bold;
}

.viewDetailsLink,
.pagingLink {
  text-decoration: none;
  color: #ea7f28;
}

.pagingLink {
  margin: 0px 10px 0px 10px;
}

.viewDetailsLink:hover,
.pagingLink:hover {
  text-decoration: underline;
}

#carTile {
  float: left;
  //width: 435px;
  margin-left: 10px;
  // float: left;
  width: 60%;
  max-width: 60%;
}

.carTileSection {
  border: "1px solid black";
  text-align: "left";
  font-family: "Arial";
  font-size: "14px";
  margin-right: 16px;
  border: 2px #ededed solid;
  padding: 0px 24px 12px 12px;
  margin-bottom: 12px;
}

.wholeTileSection {
  border: 2px #ededed solid;
  margin-bottom: 12px;
}

.topCarTileSection {
  border: "1px solid black";
  text-align: "left";
  font-family: "Arial";
  font-size: "14px";
  margin-right: 16px;
  padding: 0px 24px 12px 12px;
  margin-bottom: 12px;
}

.pagingLinks {
  text-align: center;
}
