.filterSection {
  border: "1px solid black";
  width: 35% !important;
  margin-top: "auto";
  margin-bottom: "auto";
  text-align: "left";
  font-family: "Arial";
  font-size: "14px";
  margin-right: 16px;
  border: 2px #ededed solid;
  padding: 0px 24px 12px 12px;
  float: left;
}

.pagingLink {
  margin: 0px 10px 0px 10px;
}

.viewDetailsLink:hover,
.pagingLink:hover {
  text-decoration: underline;
}

.pagingLinks {
  text-align: center;
}
