@import "components/styles/variables.scss";
@import "components/styles/colors.scss";

.App {
  font-family: "Arial";
  font-size: 14px;
  .footer {
    color: $dark-grey;
    text-align: center;
  }
  .footer-line-color {
    color: $grey;
  }
  html,
  body {
    height: 100%;
  }
}
