@import "components/styles/variables.scss";
@import "components/styles/colors.scss";

.App {
  font-family: "Roboto";
  font-size: 14px;
  .footer {
    color: $grey;
    clear: both;
  }

  html,
  body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }

  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
  }
}
